<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/css/main.css">
</head> -->

<%- include('./includes/header') %>

<body>
  <!-- <div class="mainDiv">
        <nav>
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/admin/add-product">Add Product</a>
                </li>
            </ul>
        </nav>
    </div> -->

  <%- include('./includes/navigation') %>

  <div class="formDiv">
    <% if(error_message){ for(error of error_message){ %>
    <div class="error"><%= error.msg %></div>

    <% } } %>
    <br />
    <h1>Add Product</h1>
    <form action="/admin/add-product" method="POST">
      Product Name
      <input type="text" name="name" />

      Price
      <input type="number" name="price" />
      <br />
      Brand
      <input type="text" name="brand" />
      <br />
      Rating
      <input type="text" name="rating" />
      <br />
      <button type="submit">Add</button>
    </form>
  </div>
  <%- include('./includes/footer') %>
</body>
